
/* General */

body {
  margin-bottom: 60px;
  background-color: #262626;
  color: #e0e0e0;
  text-align: center;
  font-family: sans-serif, Arial;
}

.left-column {
  width: 50%;
  float: left;
}
.right-column {
  margin-left: 50%
}

.screen {
  opacity: 0;
}

/* Connecting */
.connecting {
  margin: 0;
  position: absolute;
  top: 33%;
  left: 50%;
  -ms-transform: translate(-50%, -33%);
  transform: translate(-50%, -33%);
  transition: opacity 500ms;
  opacity:1;
}

/* Join/Create game page */
.blue-button {
  background-color: #0099ff;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #191919;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(18, 18, 18);
}
.blue-button:disabled {
  opacity: .4;
  box-shadow: none;
  cursor: default;
}

.leave-button {
  background-color: #CC1922;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  margin-top: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #191919;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(18, 18, 18);
}

.player-select-radio {
    background-color: #303030;
    border: none;
    color: white;
    padding: 16px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #202020;
    border-radius: 12px;
}

.player-select-radio:hover {
    background-color: #a0a0a0;
    color: white;
}

#input-game-code {
  text-transform: uppercase;
  width: 200px;
}


.fancy-input {
  background-color: #202020;
  color: #f0f0f0;
  padding: 6px 12px;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
  text-align: center;
}

#lobby-screen {
  margin-bottom: 80px
}

#lobby-id {
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#input-name-lobby {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 20px
  width: 800px;
}

.player-card {
  border: 2px solid #1a1a1a;
  font-size: 30px;
  border-radius: 6px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3px;
  text-align: left;
  height: 34px;
}

.icon {
  max-height: 30px;
  float: right;
  padding-right: 10px;
}
.icon-hidden {
  display: none;
}
.icon-fade {
  opacity: 0;
  transition: opacity 200ms;
}
.player-card:hover > .icon-fade {
  opacity: .5;
}
.player-card:hover > .icon-fade:hover {
  opacity: 1;
  cursor: pointer;
}

.role-card {
  border: 2px solid #1a1a1a;
  font-size: 30px;
  border-radius: 6px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3px;
  text-align: left;
}

.amount-adjust {
  float: right;
  margin-right: 15px;
}

.bottom-right {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.column {
  float: left;
  padding: 5px;
}

.left, .right {
  width: 34%;
}

.middle {
  width: 32%;
}


